numpy==1.21.5
cloudpickle>=1.2.0
importlib_metadata>=4.8.0
dataclasses
typing_extensions==4.3.0
opencv-python>=3.0
lz4>=3.1.0
matplotlib==3.6.2
keyboard==0.13.5
box2d-py==2.3.5
ale-py~=0.8.0
mujoco_py<2.2,>=2.1
imageio>=2.14.1
jupyterlab==3.5.2
ipywidgets==8.0.4
gymnasium[all]==0.27.0
gymnasium[atari]==0.27.0
gymnasium[accept-rom-license]==0.27.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.13.0+cu116
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.14.0+cu116
ray==2.0.1
